body, html {
	font-family: Times;
	font-size: 2.5vw;
	line-height: 1.2;
	letter-spacing: 0.005em;
	background: -webkit-linear-gradient(135deg,DodgerBlue,yellow,lime);
	background: linear-gradient(-45deg,DodgerBlue,yellow,lime);
	background-attachment: fixed;
}

footer {
	margin-bottom: 2.5vw;
}

#wrapper {
	max-width: 100vw;
	position: relative;
	display: block;
	margin: 2vw 10vw;
	overflow: hidden;
	/*background-color: blue;*/
}

section {
	margin-bottom: 3vw;
}

h1, h2 {
	font-family: CooperBlack;
	font-size: 1.5em;
	/*line-height: 1;*/
}

h2 {
	font-size: 1em;
	margin-top: 3vw;
}

.title {
	font-size: 3em;
	line-height: 1.1em;
	margin-bottom: 1vw;
}

p {
	font-size: 1em;
}

p + p {
	text-indent: 1.5em;
}

.example {
	margin-top: 1.5vw;
	margin-bottom: 3vw;
	font-size: .8em;
	line-height: 1.4;
}

.using-em {
	font-size: 2em;
	line-height: .8;
}

.using-rem {
	font-size: 2rem;
}

.egg img {
	height: 3em;
	display: block;
	margin-top: 3vw;
	/*margin-bottom: 3vw;*/
	/*margin-bottom: 2em;*/
	
	/*position: relative;*/
}

.no-margin {
	margin-top: 1.1vw;
}
.no-margin img {
	margin-top: 1.1vw;
}

.reg-letter-spacing {
	letter-spacing: 0.005em;
	font-size: 1rem;
}

.em {
	letter-spacing: 1em;
}

.em img {
	width: 20em;
}


.rem {
	letter-spacing: 1rem;
}

.rem img {
	width: 20rem;
}


.ex {
	letter-spacing: 1ex;
}

.ex img {
	width: 20ex;
}


.ch {
	letter-spacing: 1ch;
}

.ch img {
	width: 20ch;
}


.vw {
	letter-spacing: 1vw;
}

.vw img {
	width: 20vw;
}


.vh {
	letter-spacing: 1vh;
}

.vh img {
	width: 20vh;
}


.vmin {
	letter-spacing: 1vmin;
}

.vmin img {
	width: 20vmin;
}


.vmax {
	letter-spacing: 1vmax;
}

.vmax img {
	width: 20vmax;
}


.px {
	letter-spacing: : 2px;
}

.px img {
	width: 20px;
}


.cm {
	letter-spacing: : 2cm;
}

.cm img {
	width: 20cm;
}


.mm {
	letter-spacing: 1mm;
}

.mm img {
	width: 20mm;
}


.in {
	letter-spacing: 1in;
}

.in img {
	width: 20in;
}


.pc {
	letter-spacing: 1pc;
}

.pc img {
	width: 20pc;
}


.pt {
	letter-spacing: 1pt;
}

.pt img {
	width: 20pt;
}
